<section class="hero bg-overlay" id="hero" data-bg="assets/img/cactus.png">
  <div class="text py-5">
    <img src="assets/img/boltcutter-logo.png" class="header-img" alt="Boltcutter Vector Image">
    <h2><span class="bold">Boltcutter</span><span> | Salt Lake City</span></h2>
    <br>
    <p class="lead"><br>A Mexican &amp; Central American-inspired <b>Vegan</b> Restaurant</p>
    <div class="cta">
      <a href="#features" class="btn btn-dark">Welcome</a>
      <div class="link">
      </div>
    </div>
  </div>
</section>